<nav class="navbar navbar-default myNav" style="position:fixed;width:100%;top:0px;background-color:#eee;border-radius: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div>
                <a class="navbar-brand" style="color:black;font-size: 18px">Focus News</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right" data-toggle="collapse" data-target="#myNavbar">
                <li><a (click)="changeCategory('sports')">Sports</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-toggle="collapse" data-target="#myNavbar">
                <li><a (click)="changeCategory('entertainment')">Entertainment</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-toggle="collapse" data-target="#myNavbar">
                <li><a (click)="changeCategory('health')">Health</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-toggle="collapse" data-target="#myNavbar">
                <li><a (click)="changeCategory('science')">Science</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-toggle="collapse" data-target="#myNavbar">
                <li><a (click)="changeCategory('business')">Business</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-toggle="collapse" data-target="#myNavbar">
                <li><a (click)="changeCategory('technology')">Technology</a></li>
            </ul>
        </div>
    </div>
</nav>


<br>
<br>
<br>
<input type="text" placeholder="Search anything" (keyup)="onKeyOnInput($event.target.value)" >
<div class="grid-container"  *ngFor="let n of news;let i=index">
    <!-- its a hack for making this run 5 times as length of news is 5 -->
    <div class="a all">
        <div>
            <h3>{{n.title}}</h3>
            <p>
                {{n.description}}
            </p>
            <a href={{n.url}} target="_blank">
                <img class="homeImg" src={{n.image}} >
            </a>
            
            <p>
                {{n.content}}
            </p>

        </div>
    </div>

   
 
  
</div>

<div *ngIf="dataLoading">
    <app-preloader></app-preloader>
</div>
